<html>
<head>
  <title>Bootstrap demonstration</title>
  <link href="{{ url_for ('static', filename='css/bootstrap.min.css') }}"
  rel="stylesheet" />
  <style>
	body{
		padding-top:50px;
		}
  </style>
</head>
<body>

	<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class"navbar-header">
			<button type="button" class="navbar-toggle collapsed"
			data-toggle="collapse" data-target="#navbar" aria-expanded="false"
			aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">ProjectName</a>
		</div>
		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li class="active"><a href="#">Home</a></li>
				<li><a href="#about">About</a></li>
				<li><a href="#contact">Contact</a></li>
			</ul>
		</div>				
	</div>
	</nav>
		
		<div class =" container ">
			<h1 >HELLO </h1 >
			<h2 > Napier </h2 >
			<p class =" lead "> Demonstrating a flask app with template for html generation and bootstrap for a little bit of style </p>
		</div >

		<script src ="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script >
		<script src ={{ url_for('static', filename='js/bootstrap.min.js')}}"></script >
</body>
</html>
